<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>手svnコミットログをredmineに同期化するジョブ</description>
  <logRotator>
    <daysToKeep>1</daysToKeep>
    <numToKeep>-1</numToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <triggers class="vector">
    <hudson.triggers.TimerTrigger>
      <spec>*/10 * * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <builders>
    <hudson.tasks.BatchFile>
      <command>C:\mywork\toolkit\oly_sync_redmine_svn\sync_revision.cmd</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>