To：開発T
Cc：受付T

モジュールの移行作業をスムーズに進めるために
SVNリポジトリに対して定期的にURLチェックを行っています。

なお、イリーガルURLが検出されたため、担当者の方
添付内容の確認をお願いします。

イリーガルURL問題が解決されるまでに催促メールが続きます、
ご了承ください。
__________________________________________________
本メールはSCM支援システムから自動送信しています。
NEC Empowered by Innovation

