<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true">
	<!-- appender : stdout -->
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" /> 
		<layout class="org.apache.log4j.PatternLayout">
			<!--<param name="ConversionPattern" value="%p [%d{yyyy/MM/dd HH:mm:ss}] %r [%t] %c %x - %m%n" />-->
			<param name="ConversionPattern" value="[%p][%t] %c %x - %m%n" />
		</layout>
	</appender>
	
	<category name="skillup.ejb" additivity="false">
		<priority value ="debug" />
		<appender-ref ref="stdout" />
	</category>
	
	<root>
		<priority value="info" />
		<appender-ref ref="stdout" />
	</root>

</log4j:configuration>
